<section class="menu container mx-auto py-8">
    <div class="flex flex-row">
        <% if(product){ %>
            <div class="w-full md:w-9/12 mx-auto ">
                <img class="h-40 mb-4 mx-auto" src="/img/<%= product.image %>"
                        alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%= product.name %>
                    </h2>
                    <div class="qty py-1 px-1 text-center ">
                        <button 
                        data-minus="<%= JSON.stringify(product) %>"
                        class="bg-black border px-2 py-2" id="btn-minus"><i class="fa-solid fa-minus text-white"></i></button>
                        <span class="mx-3">3</span>
                        <button
                        data-plus="<%= JSON.stringify(product) %>"
                        class="bg-black border px-2 py-2" id="btn-plus"><i
                                class="fa-solid fa-plus text-white"></i></button>
                    </div>
                    <div class="desc">
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg">₹<%= product.price %></span>
                        <button data-pizza="<%= JSON.stringify(product) %>"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
                <p class="text-lg font-bold text-green-700 mt-3">Description</p>
                <p class="text-sm text-start ml-3">
                    <%= product.desc %>
                </p>
            </div>
            <% } %>

    </div>
</section>

